.link-box {
  display: block;
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 0.375em 0.75em 0.42em;
  background-color: #000;
  border-radius: 20px;
  border: 0;
  color: #fff;
  text-decoration: none;
}

.btn:hover {
  background-color: #d1effa;
  color: #000;
}

.btn--light {
  background-color: #e2e2e2;
  color: #fff;
}

.btn--light:hover {
  background-color: #666;
  color: #fff;
}

.btn--ghost {
  background-color: transparent;
  border: 3px solid #fff;
  color: #fff;
}

.btn--ghost:hover {
  border-color: #fff;
}

a:hover, a:active {
  outline: none;
}

a:focus, [tabindex="0"]:focus,
input:focus, textarea:focus, button:focus {
  outline: 3px solid #fff;
  outline-offset: 3px;
}
