@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  
  font-family: sans-serif;
}

*,*::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.logo {
  width: 30%;
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.main-color {
  background-color: #d1effa;
}

.section-color {
  background-color: #6aa7c3;
}

a {
  color: #000;
}

.masthead {
  text-align: center;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav a {
  display: inline-block;
  text-decoration: none;
}

.nav a:hover {
  color: #fff;
}

.current {
  background-color: #6aa7c3;
  color: #fff;
  border-radius: 25px;
}

.footer {
  text-align: center;
}

.banner {
  background-color: #6aa7c3;
  text-align: center;
  position: relative;
}

.banner-img {
  width: 100%;
}

.starter-wrap {
  background-color: #6aa7c3;
  color: #fff;
  width: 100%;
}

.starter {
  margin: 0 auto;
  max-width: 25em;
}

.grey-description {
  text-align: center;
}

.signupbox {
  margin: 0 auto;
  padding: 1rem;
  width: 20rem;

}

label{
  display: block;
}

form div {
  margin-bottom: 0.5rem;
}

input,
select {
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 1rem;
  width: 15em;
}

.check{
  width: 1rem;
}

.checkbox {
  display: inline-block;
}

button {
  font-size: 1rem;
  padding: 0.5em 0.75em;
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
}

@media only screen and (min-width: 25em) {

  .logo {
    width: 20%;
  }

  .nav li {
    display: inline-block;
  }

  .starter-wrap {
    bottom: 1.5rem;
    position: absolute;
    background-color: transparent;
  }

}

@media only screen and (min-width: 38em) {

   .logo {
    width: 95px;
  }

  .footer {
    text-align: left;
  }

  .nav-footer {
    text-align: right;
  }

  .starter-wrap {
    bottom: 3rem;
  }

}

@media only screen and (min-width: 60em) {

  .logo {
    width: 110px;
  }

}