.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  padding: 0.5em 0.75em;
  position: absolute;
  top: -3em;
  z-index: 10000; /* To make sure they're always on top */
  background-color: #000;
  color: #fff;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:focus {
  top: 0;
}

.print-only {
  display: none;
  visibility: hidden;
}

@media print {

  .no-print {
    display: none;
    visibility: hidden;
  }

  .print-only {
    display: block;
    visibility: visible;
  }
